/* 
    Document   : fancySelectGestionarC
    Created on : May 13, 2014, 6:39:19 PM
    Author     : marvins
    Description:
        Purpose of the stylesheet follows.
*/

/****************************************FANCY SELECT**************************************/
/**************************************************************************************************/
#modalTipologia div.fancy-select {
    position: relative;
    font-weight: bold;
    font-size: 13px;
    color: #1e1e1e;
    width: 440px !important;
    margin-top: 15px;
    margin-left: 12px;
    float: none;
}

#modalTipologia div.fancy-select.disabled {
    opacity: 0.5;
}

#modalTipologia div.fancy-select select:focus + div.trigger {
/*    box-shadow: 0 0 0 2px #4B5468;*/
}

#modalTipologia div.fancy-select select:focus + div.trigger.open {
    box-shadow: none;
}

#modalTipologia div.fancy-select div.trigger {
    background: url(../media/imagenes/general/dropModal.png) #bcbcbc no-repeat 100% center;
    border: 2px #fff solid;
    display: block;
    font-family: 'Helvetica';
    font-size: 12px;
    font-weight: normal;
    float: right;
    height: 10px;
    margin-right: 20px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-top: 10px;
    width: 416px;
    transition: all 240ms ease-out;
    -webkit-transition: all 240ms ease-out;
    -moz-transition: all 240ms ease-out;
    -ms-transition: all 240ms ease-out;
    -o-transition: all 240ms ease-out;
}

#modalTipologia div.fancy-select div.trigger:after {
/*    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #4B5468;
    top: 20px;
    right: 9px;*/
}

#modalTipologia div.fancy-select div.trigger.open {
    background: url(../media/imagenes/general/dropModal.png) #bcbcbc no-repeat 100% center;
    color: #000;
    box-shadow: none;
}

#modalTipologia div.fancy-select div.trigger.open:after {
/*    border-top-color: #7A8498;*/
}

#modalTipologia div.fancy-select ul.options {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 40px;
    /*left: 0;*/
    right: 20px;
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    max-height: 200px;
    overflow: auto;
    background: #fff;
    border-top: 1px solid #ccc ;
    min-width: 200px;
    margin: 0;
    padding: 0;
    width: 430px;
    background: #555555;
    color: #fff;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

#modalTipologia div.fancy-select ul.options.open {
    visibility: visible;
    top: 40px;
    opacity: 1;

    /* have to use a non-visibility transition to prevent this iOS issue (bug?): */
    /*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
    transition: opacity 300ms ease-out, top 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

#modalTipologia div.fancy-select ul.options.overflowing {
    top: auto;
    bottom: 40px;

    transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

#modalTipologia div.fancy-select ul.options.overflowing.open {
    top: auto;
    bottom: 50px;
    transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
    -o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

#modalTipologia div.fancy-select ul.options li {
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Helevatica';
    font-weight: normal;
    font-size: 12px;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
}

#modalTipologia div.fancy-select ul.options li.selected {
    background: #818181;
    color:  #fff;
}

#modalTipologia div.fancy-select ul.options li.hover {
    background: #818181;
    color: #fff;
}