/* 
    Document   : home
    Created on : Mar 28, 2014, 10:41:23 AM
    Author     : marvins
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.contenedorGeneral{
    background:  #404040;
    height: 500px;
    position: relative;
    width: 1280px;
}
.contenedorMenu{
    background: #c4c4c4;
    width: 100%;
}
.header{
    margin-top: 70px !important;
    margin-bottom: 50px !important;
}
.contenedorMenu .menu{
    margin: 0 auto;
    margin-top: 40px;
    width: 320px;
}
.contenedorMenu .menu ul{
    margin: 0;
    padding: 0;
    width: 100%;
}
.contenedorMenu .menu ul li{
    background: #626262;
    display: block;
    height: 66px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
}
.contenedorMenu .menu ul li img{
    float: left;
}
.contenedorMenu .menu ul li span{
    color: #fff;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 21px;
    font-weight: 300;
    float: left;
    padding: 17px;
    text-align: center;
    text-transform: uppercase;
}
#cerrarSesion{
	color:#fff;
	font-family: 'Oswald';
	font-size: 23px;
	font-weight: 300;
	position: absolute;
	right: 30px;
	text-decoration: none;
	top: 30px;
}
#cerrarSesion span{
	background: url(../media/imagenes/general/cerrarSecion1.png) no-repeat center;
	display: inline-block;
	height: 30px;
	position: relative;
	top: 5px;
	width: 29px;
	
	transition: 2s all ease-in-out;
	-webkit-transition: 2s all ease-in-out;
}
#cerrarSesion span:hover{
	background: url(../media/imagenes/general/hoverCerrarSecion.png) no-repeat center;
	display: inline-block;
	height: 30px;
	position: relative;
	top: 5px;
	width: 29px;
	
	transition: 2s all ease-in-out;
	-webkit-transition: 2s all ease-in-out;
}