<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <context-param>
    <param-name>resteasy.deployer</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan.providers</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.scan.resources</param-name>
    <param-value>false</param-value>
  </context-param>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>mcd.ots.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Loader</servlet-name>
    <servlet-class>mcd.ots.servlet.Loader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScreenPop</servlet-name>
    <servlet-class>mcd.ots.servlet.ScreenPop</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>mcd.ots.servlet.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionarCliente</servlet-name>
    <servlet-class>mcd.ots.servlet.GestionarCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TomadoraOrdenes</servlet-name>
    <servlet-class>mcd.ots.servlet.TomadoraOrdenes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderSearch</servlet-name>
    <servlet-class>mcd.ots.servlet.OrderSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderHandler</servlet-name>
    <servlet-class>mcd.ots.servlet.OrderHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OrderSearch</servlet-name>
    <url-pattern>/OrderSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Loader</servlet-name>
    <url-pattern>/Loader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenPop</servlet-name>
    <url-pattern>/ScreenPop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionarCliente</servlet-name>
    <url-pattern>/GestionarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TomadoraOrdenes</servlet-name>
    <url-pattern>/TomadoraOrdenes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderHandler</servlet-name>
    <url-pattern>/OrderHandler</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>c.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>